{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} Профайл пользователя {{ user.get_full_name }} {% endblock title %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          {% block function %} Новый пост {% endblock function %}
        </div>
        <div class="card-body">
          {% block method_action %}
            <form method="post" action="{% url 'posts:post_create' %}" enctype="multipart/form-data">
          {% endblock method_action %}
          {% csrf_token %}
          <div class="form-group row my-3 p-3">
            <label for="id_text">
              Текст поста
              <span class="required text-danger" >*</span>
            </label>
            <textarea name="text" cols="40" rows="10" class="form-control" required id="id_text">{{ post.text }}</textarea>
            <small id="id_text-help" class="form-text text-muted">
              Текст этого поста
            </small>
          </div>
          <div class="form-group row my-3 p-3">
            <label for="id_group">
              Группа
            </label>
            <select name="group" class="form-control" id="id_group">
              <option value="" selected></option>
              {% for group_obj in form.get_group_list %}
                {% if group_obj.title == post.group.title %}
                  <option value="{{group_obj.id}}" selected>{{group_obj.title}}</option>
                {% else %}
                  <option value="{{group_obj.id}}">{{group_obj.title}}</option>
              {% endif %}
              {% endfor %}
            </select>
            <small id="id_group-help" class="form-text text-muted">
              Группа, к которой будет относиться пост
            </small>
          </div>
          <div class="form-group row my-3 p-3">
            <label for="id_image">
              Картинка
            </label>
            <input type="file" name="image" accept="image/*" class="form-control" id="id_image">
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">
              {% block button %} Сохранить {% endblock button %}
            </button>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}